.admin_login_Div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.adminLoginContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  border: 1px solid lightgray;
  margin-top: 20px;
  line-height: 60px;
  align-items: center;
}
.adminLoginContainer > h2 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 32px;
}

.adminLoginContainer > form > input {
  margin-top: 20px;
  font-weight: 100 !important;
  color: #ffff;
  background: none;
  border-bottom: 1px solid lightgray;
}

.adminLoginContainer > form > button {
  margin-top: 30px;
}

#adminErrors {
  text-align: center;
  color: red;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 0px;
}
