@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.Admin {
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}
.Admin ul {
  border: 1px solid;
  display: flex;
  gap: 100px;
  width: 100%;
  line-height: 50px;
}
.Admin ul li {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bx,
.far {
  font-size: 16px;
  position: relative;
  right: 5px;
}
.data .fa-envelope {
  position: absolute;
  font-size: 14.5px;
  left: 825px;
  top: 73px;
}
@media screen and (max-width: 468px) {
  .Admin {
    justify-content: center;
  }
  .Admin ul {
    border: none;
    flex-direction: column;
    gap: 0px;
  }
  .Admin ul li {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .data .fa-envelope {
    position: absolute;
    font-size: 14.5px;
    left: 140px;
    top: 470px;
  }
  #email_admin {
    position: relative;
    left: 20px;
  }
}
