.products_cart > h1 {
  padding: 20px;
}
.cart {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding-top: 10px;
  box-sizing: border-box;
  object-fit: contain;
  border: 1px solid lightgray;
  margin-top: 10px;
}
.cart > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.cart > h4 {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 200 !important;
}
.product_detaild {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.product_detaild > p {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400 !important;
}
