.orders > h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 300 !important;
}
.emptyBasket {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(https://github.com/Aman2221/AmanPortfolio.github.io/blob/master/assets/img/honda_logo.png?raw=true)
    no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
}
#cartAddedProducts {
  padding: 20px;
}
#productsList {
  padding-top: 20px;
}
.emptyBasket > h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  padding: 10px;
  font-size: 1.5rem;
  color: lightgray;
  z-index: -1;
}
@media screen and (max-width: 468px) {
  .orders > h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 300 !important;
  }
  .emptyBasket {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #cartAddedProducts {
    padding: 20px;
  }
  #productsList {
    padding-top: 20px;
  }
  .emptyBasket > h1 {
    font-size: 1rem;
  }
}
