#parts {
  height: 180px;
  width: 130px;
  position: relative;
  top: 10px;
  left: 70px;
  display: flex;
  margin-left: 5px;
  margin-top: 50px;
  transition: transform 850ms;
}
#cartBtn {
  background: #181717;
  position: relative;
  left: 0px;
  top: 220px;
  padding: 5px;
  border-radius: 30px;
  height: 28px;
  width: 100px;
  color: white;
  z-index: 1000;
  text-transform: uppercase;
  font-size: 11.5px;
  letter-spacing: 0.5px;
}
#parts:hover {
  cursor: pointer;
  color: #000;
  transform: scale(1.06);
}

#parts img {
  height: 100px;
  margin-left: 50px;
}
#parts h5 {
  text-transform: uppercase;
  position: relative;
  top: 110px;
  right: 85px;
  color: aliceblue;
  font-size: 11.5px;
}
@media (prefers-color-scheme: light) {
  #parts h5 {
    color: rgba(0, 0, 0, 0.7);
  }
}
@media screen and (max-width: 480px) {
  #parts {
    height: 120px;
    width: 150px;
    box-shadow: none;
    position: relative;
    top: 10px;
    left: 35px;
    display: flex;

    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #cartBtn {
    background: #151515;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 3px;
    border-radius: 30px;
    height: 28px;
    width: 100px;
    color: white;
    z-index: 1000;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.5px;
    position: relative;
    top: 100px;
  }
  #parts:hover {
    background: none;
    transform: none;
  }
  #parts img {
    height: 70px;
    margin-left: 0px;
  }
  #parts h5 {
    text-transform: uppercase;
    position: relative;
    top: 80px;
    right: 75px;
    font-size: 10px;
  }
}
