html {
    height: 100%;
  }
  body {
    height: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader {
    
    position: relative;
    width: 75px;
    height: 100px;
  }
  .loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: red;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
  }